{% extends "base.htm" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/design.css' %}" />
<link rel="stylesheet" href="{% static 'css/layout.css' %}" />

{% endblock style %}

{% block nav_extend %}
<!-- Switch -->
<div class="switch left">
  <label>
    <span class="white-text text-darken-3" style="margin-right: 15px;"><a href="{% url 'home' %}"><b>Home</b></a></span>
    <span class="white-text text-darken-3" style="margin-right: 15px;"><a href="{% url 'data_collection' %}"
        target="_blank"><b>Data Collection</b></a></span>
  </label>
</div>
{% endblock nav_extend %}

{% block content %}
<div class="red-text text-accent-3">
  <div class="message blue-text text-accent-3 center-align">
    {% if messages %}
    <ul class="messages">
      {% for message in messages %}
      <div class="card-panel green lighten-2">
        <h4>{{message}}</h4>
      </div>
      {% endfor %}
    </ul>
    {% endif %}
  </div>
  <h3 class="center-align upload-image"><b>Upload Image</b></h3>
  <div class="row">
    <div class="col s4 offset-s4 center-align">
      <form action="{% url 'upload-demo-image' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <input type="file" id="default-btn" name="data_image" hidden>
        <button onclick="event.preventDefault();defaultBtnActive()" id="custom-btn">Choose a file</button>
        <input type="submit" id="custom-btn" />
    </form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col s6 center black-text">
      <h3>Unprocessed Images <a href="{% url 'demo-in-action' %}"><button id='demo'
        class="btn waves-effect waves-light green lighten-2">Process</button></a></h3>
      <table>
        <tr>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for image in unprocessed_images %}
            <tr>
                <td>
                  <a href="{% get_media_prefix %}image_folder/{{ image }}" target="_blank">
                    <img class="responsive-img zoom" src="{% get_media_prefix %}image_folder/{{ image }}" />
                  </a>
                </td>
                <td>
                    {% with folder_name="image_folder" %}
                      <a href="{% url 'image_download' folder_name image %}" style="text-decoration: none; color: black;"><i class="fas fa-download zoom"></i></a> | 
                      <a href="{% url 'image_delete' folder_name image %}" style="text-decoration: none; color: black;"><i class="fas fa-trash zoom"></i></a>
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
      </table>
    </div>
    <div class="col s6 center black-text">
      <h3>Processed Images</h3>
      <table>
        <tr>
            <th>Image</th>
            <th>Action</th>
        </tr>
        {% for image in processed_images %}
            <tr>
                <td>
                  <a href="{% get_media_prefix %}image_dataset/{{ image }}" target="_blank">
                    <img class="responsive-img zoom" src="{% get_media_prefix %}image_dataset/{{ image }}" />
                  </a>
                </td>
                <td>
                    {% with folder_name="image_dataset" %}
                      <a href="{% url 'image_download' folder_name image %}" style="text-decoration: none; color: black;"><i class="fas fa-download zoom"></i></a> | 
                      <a href="{% url 'image_delete' folder_name image %}" style="text-decoration: none; color: black;"><i class="fas fa-trash zoom"></i></a>
                    {% endwith %}
                </td>
            </tr>
        {% endfor %}
      </table>
    </div>
  </div>
</div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/custom.js' %}"></script>
<script src="{% static 'js/kit.fontawesome.js' %}"></script>
<script>
  const wrapper = document.querySelector(".wrapper");
  const fileName = document.querySelector(".file-name");
  const cancelBtn = document.querySelector("#cancel-btn");
  const defaultBtn = document.querySelector("#default-btn");
  const customBtn = document.querySelector("#custom-btn");
  const img = document.querySelector("img");
  let regExp = /[0-9a-zA-Z\^\&\'\@\{\}\[\]\,\$\=\!\-\#\(\)\.\%\+\~\_ ]+$/;
  function defaultBtnActive() {
      defaultBtn.click();
  }
  defaultBtn.addEventListener("change", function () {
      const file = this.files[0];
      if (file) {
          const reader = new FileReader();
          reader.onload = function () {
              const result = reader.result;
              img.src = result;
              wrapper.classList.add("active");
          }
          cancelBtn.addEventListener("click", function () {
              img.src = "";
              wrapper.classList.remove("active");
          });
          reader.readAsDataURL(file);
      }
      if (this.value) {
          let valueStore = this.value.match(regExp);
          fileName.textContent = valueStore;
      }
  });
</script>
{% endblock script %}