{% extends "base.htm" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
{% endblock style %}

{% block content %}
  <h4>Go to <a href="{% url 'result' %}">Result</a></h4>
  <!-- Switch -->
  <div class="switch">
    <label>
        <span>Canvas</span>
            <input type="checkbox" class="switch-toggle">
            <span class="lever"></span>
        <span>Image</span>
    </label>
  </div>

  <div id="canvasDiv" class="blue lighten-5 amber-text text-darken-2">
      <h3 class="center-align">Canvas</h3>
      <div class="row">
        <div class="col s8 offset-s2">
          <canvas id="canvas"></canvas>
          <br>        
          <button id='clear' class="btn waves-effect waves-light red lighten-2">Clear</button>
          <button id='save_button' class="btn waves-effect waves-light"><a id='save'class="white-text">Save</a></button>
        </div>
      </div>
  </div>
  <div id="uploadImage">
    <br>
    <div class="divider"></div>
    <div class="row">
        <form class="col s12" action="{% url 'uploadImage' %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
          <div class="row">
            <div class="input-field col s12">
              <input type="file" name="image" id="imageFile" class="validate">
            </div>
            <div class="input-field col s12">
              <input type="submit">
            </div>
          </div>
        </form>
      </div>
  </div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock script %}