{% extends "base.htm" %}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'css/layout.css' %}"/>
{% endblock style %}

{% block nav_extend %}
  <!-- Switch -->
  <div class="switch left">
    <label>
      <span class="white-text text-darken-3" style="margin-right: 15px;"><a href="{% url 'demo' %}"><b>Demo</b></a></span>
      <span class="white-text text-darken-3" style="margin-right: 15px;"><a href="{% url 'data_collection' %}" target="_blank"><b>Data Collection</b></a></span>
      <span class="white-text text-darken-3"><b>Canvas</b></span>
          <input type="checkbox" class="switch-toggle">
          <span class="lever"></span>
      <span class="white-text text-darken-3"><b>Image</b></span>
    </label>
  </div>  
{% endblock nav_extend %}

{% block content %}
  <div id="canvasDiv" class="red-text text-accent-3">
    <h3 class="center-align"><b>Canvas</b></h3>
    <div class="row">
      <div class="col s8 offset-s2">
        <canvas id="canvas"></canvas>
        <br>        
        <button id='clear' class="btn waves-effect waves-light red lighten-2">Clear</button>
        <button id='save_button' class="btn waves-effect waves-light"><a id='save' class="white-text">Save</a></button>
      </div>
    </div>
  </div>
  <div id="uploadImage">
    <br>
    <div class="divider"></div>
    <div class="row">
      <form class="col s12" action="{% url 'imageClassifier' %}" method="post" enctype="multipart/form-data">
      {% csrf_token %}
        <div class="row">
          <h3 class="center-align blue-text text-lighten-1"><b>Upload Image</b></h3>
          <div class="input-field col s12 center-align">
            <div class="upload-btn-wrapper">
              <button class="btn blue lighten-3">Upload an image</button>
              <input type="file" name="image"/>
            </div>
          </div>
          <div class="input-field col s12 center-align">
            <button class="btn waves-effect waves-light" type="submit">UPLOAD</button>
          </div>
        </div>
      </form>
    </div>
  </div>
{% endblock content %}

{% block script %}
<script src="{% static 'js/custom.js' %}"></script>
{% endblock script %}